# CONFIGURATION DE LA BASE DE DONNÉES MYSQL (HOSTINGER / LOCAL)
# Remplissez avec l'hôte fourni par Hostinger (ex: sql123.hostinger.com)
MYSQL_HOST=sqlxxx.hostinger.com
# Votre utilisateur MySQL Hostinger (ex: u707543112_bb_user)
MYSQL_USER=u707543112_bb_user
# Votre mot de passe de base de données Hostinger
MYSQL_PASSWORD=Prodesk@2965
# Votre nom de base de données Hostinger
MYSQL_DATABASE=u707543112_bb_db_v1
MYSQL_PORT=3306

# CONFIGURATION DU SERVEUR BACKEND
PORT=3000
NODE_ENV=development
